.chat-conteudo{
    display: grid;
    grid-template-rows: 80px auto 80px;
    height: 95%
}

.chat-header{
    text-align: center;
}
 
.chat-conversa{
    overflow: auto;
    background-color: blue
}

.chat-mensagem{
    width: 100%;
}
